header{
    background-color:#ffffff;
    color:teal;
    margin:0px;
    text-align:center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border:20px #cccccc;
}

h1{
    font-family:'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
}

body{
    background-color:lightgray;
    max-width:960px;
}
.container{
    margin-left:auto;
    margin-right:auto;

}
p{
    text-align:center;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}








footer{
    text-align:center;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color:#666666;
    border-top: 8px solid #4aaaa5;
}